body {
    background: #4287f5;
}

#float1 {
    position: fixed;
    margin-top: 5vw;
    margin-left: 25vw;
    width: 50vw;
    height: 50vw;
    float: left;
    border-radius: 15px;
    box-shadow: 2vw 2vh 15px #155dd1;
    background: #fffdd0;
}

#float1:hover {
    box-shadow: 2vw 2vh 15px #c90000;
}

/* !!!!!!!!!!!?????????????????????????????????? */
#float2:target ~ a > #float1 {
    box-shadow: none;
}

#float2 {
    position: fixed;
    margin-top: 5vw;
    margin-left: 25vw;
    width: 50vw;
    height: 50vw;
    float: left;
    border-radius: 15px;
    background: #fffdd0;
    display: none;
}

#float2:target {
    display: block;
}

#floatlabel1 {
    position: fixed;
    width: 50vw;
    height: 10vh;
}

a:hover ~ #floatlabel1 {
    display: none;
}

#floatlabel2 {
    position: fixed;
    width: 50vw;
    height: 10vh;
    display: none;
}

a:hover ~ #floatlabel2 {
    display: block;
}

#floatlabel3 {
    position: fixed;
    width: 50vw;
    height: 10vh;
    display: none;
}

#float2:target ~ #floatlabel1 {
    display: none;
}

#float2:target ~ #floatlabel2 {
    display: none;
}

#float2:target ~ #floatlabel3 {
    display: block;
}

#img1 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#float2:target > #img1 {
    display: none;
}

#img2 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: none;
}

#float2:target > #img2 {
    display: block;
}

#screencover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

a:hover ~ #screencover {
    background-color: #ff0000;
}

#float2:target ~ #screencover {
    background-color: black;
}