body {
    background-color: #f7adbc;
    margin: 0px;
}

#titlefloat {
    position: relative;
    width: 85%;
    height: 65px;
    background-color: bisque;
    text-align: center;
    box-shadow: 15px 15px 15px #e8899c;
    border-radius: 15px;
    top: 7%;
    left: 7%;
}

#buttonsfloat {
    margin-left: 1.5%;
    position: relative;
    padding: 1px;
    width: 97%;
    height: 55px;
    background-color: bisque;
    box-shadow: 15px 15px 15px #e8899c;
    border-radius: 15px;
    top: 0;
}

#button1 {
    margin-top: 8px;
    margin-left: 3%;
    width: 72px;
    height: 65%;
    background-color: crimson;
    color: white;
    font-family: Playwrite GB S, cursive;
    font-size: 18px;
    text-align: center;
    box-shadow: 7px 7px 7px #ebc291;
    border-radius: 15px;
    float: left;
}

#button2 {
    margin-top: 8px;
    margin-right: 3%;
    width: 70px;
    height: 65%;
    background-color: crimson;
    color: white;
    font-family: Playwrite GB S, cursive;
    font-size: 18px;
    text-align: center;
    box-shadow: 7px 7px 7px #ebc291;
    border-radius: 15px;
    float: right;
}

/* !! FOR GAME PAGE ONLY !! */

.somethingoption {
    left: calc(25vw - 21vw);
    top:  calc(25vw - 23vw);
    width: 75%;
    height: auto;
    position: absolute;
}

#avatarfloat {
    position: relative;
    width: 45%;
    height: 70%;
    background-color: bisque;
    box-shadow: 15px 15px 15px #e8899c;
    border-radius: 15px;
    float: left;
    top: 15%;
    left: 3%;
}

#avatar {
    width: 32vw;
    height: auto;
    position: absolute;
    left: calc(25vw - 20vw);
    top: calc(30vw - 28vw);
}

#invisiblebar {
    width: 85%;
    top: 5%;
    height: 10%;
    left: 7.5%;
    position: relative;
}

.optionsscreen {
    width: 85%;
    height: 80%;
    background-color: crimson;
    border-radius: 0 0 15px 15px;
    top: 5%;
    left: 7.5%;
    position: relative;
}

#eyesscreen {
    display: none;
}
#mouthscreen {
    display: none;
}
#hairscreen {
    display: none;
}
#glassesscreen {
    display: none;
}
#hatscreen {
    display: none;
}

/* main options */
#optionsbox1 {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    float: left;
    text-align: center;
}
#optionsbox2 {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    float: left;
    text-align: center;
}
#optionsbox3 {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    float: left;
    text-align: center;
}
#optionsbox4 {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    float: left;
    text-align: center;
}
#optionsbox5 {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    float: left;
    text-align: center;
}

#mainoption {
    width: 100%;
    height: auto;
}

input {
    display: none;
}
label {
    cursor: pointer;
}

.somethingboxtopleft {
    width: 42%;
    height: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #ab0929;
    float: left;
    position: relative;
    left: 5%;
    top: 3%;
    color: crimson;
    font-family: Playwrite GB S, cursive;
    font-size: 32px;
    text-align: center;
}
.somethingboxtopright {
    width: 42%;
    height: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #ab0929;
    float: right;
    position: relative;
    right: 5%;
    top: 3%;
    color: crimson;
    font-family: Playwrite GB S, cursive;
    font-size: 32px;
    text-align: center;
}
.somethingboxbottomleft {
    width: 42%;
    height: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #ab0929;
    float: left;
    position: relative;
    left: 5%;
    bottom: -7%;
    color: crimson;
    font-family: Playwrite GB S, cursive;
    font-size: 32px;
    text-align: center;
}
.somethingboxbottomright {
    width: 42%;
    height: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #ab0929;
    float: right;
    position: relative;
    right: 5%;
    bottom: -7%;
    color: crimson;
    font-family: Playwrite GB S, cursive;
    font-size: 32px;
    text-align: center;
}

/* eyes screen */
#eyesbox1 {
    display: block;
}
#eyesbox2 {
    display: block;
}
#eyesbox3 {
    display: block;
}
#eyesbox4 {
    display: block;
}

#eyesoption1 {
    display: none;
}
#eyesoption2 {
    display: none;
}
#eyesoption3 {
    display: none;
}
#eyesoption4 {
    display: none;
}

#eyesradio:checked ~ #eyesscreen {
    display: block;
}

#eyes1radio:checked ~ #eyesoption1 {
    display: block;
}
#eyes2radio:checked ~ #eyesoption2 {
    display: block;
}
#eyes3radio:checked ~ #eyesoption3 {
    display: block;
}
#eyes4radio:checked ~ #eyesoption4 {
    display: block;
}
  
/* mouth screen */
#mouthbox1 {
    display: block;
}
#mouthbox2 {
    display: block;
}
#mouthbox3 {
    display: block;
}
#mouthbox4 {
    display: block;
}

#mouthoption1 {
    display: none;
}
#mouthoption2 {
    display: none;
}
#mouthoption3 {
    display: none;
}
#mouthoption4 {
    display: none;
}

#mouthradio:checked ~ #mouthscreen {
    display: block;
}

#mouth1radio:checked ~ #mouthoption1 {
    display: block;
}
#mouth2radio:checked ~ #mouthoption2 {
    display: block;
}
#mouth3radio:checked ~ #mouthoption3 {
    display: block;
}
#mouth4radio:checked ~ #mouthoption4 {
    display: block;
}

/* hair screen */
#hairbox1 {
    display: block;
}
#hairbox2 {
    display: block;
}
#hairbox3 {
    display: block;
}
#hairbox4 {
    display: block;
}

#hairoption1 {
    display: none;
}
#hairoption2 {
    display: none;
}
#hairoption3 {
    display: none;
}
#hairoption4 {
    display: none;
}

#hairradio:checked ~ #hairscreen {
    display: block;
}

#hair1radio:checked ~ #hairoption1 {
    display: block;
}
#hair2radio:checked ~ #hairoption2 {
    display: block;
}
#hair3radio:checked ~ #hairoption3 {
    display: block;
}
#hair4radio:checked ~ #hairoption4 {
    display: block;
}

/* glasses screen */
#glassesbox1 {
    display: block;
}
#glassesbox2 {
    display: block;
}
#glassesbox3 {
    display: block;
}
#glassesbox4 {
    display: block;
}

#glassesoption1 {
    display: none;
}
#glassesoption2 {
    display: none;
}
#glassesoption3 {
    display: none;
}
#glassesoption4 {
    display: none;
}

#glassesradio:checked ~ #glassesscreen {
    display: block;
}

#glasses1radio:checked ~ #glassesoption1 {
    display: block;
}
#glasses2radio:checked ~ #glassesoption2 {
    display: block;
}
#glasses3radio:checked ~ #glassesoption3 {
    display: block;
}
#glasses4radio:checked ~ #glassesoption4 {
    display: block;
}

/* hat screen */
#hatbox1 {
    display: block;
}
#hatbox2 {
    display: block;
}
#hatbox3 {
    display: block;
}
#hatbox4 {
    display: block;
}

#hatoption1 {
    display: none;
}
#hatoption2 {
    display: none;
}
#hatoption3 {
    display: none;
}
#hatoption4 {
    display: none;
}

#hatradio:checked ~ #hatscreen {
    display: block;
}

#hat1radio:checked ~ #hatoption1 {
    display: block;
}
#hat2radio:checked ~ #hatoption2 {
    display: block;
}
#hat3radio:checked ~ #hatoption3 {
    display: block;
}
#hat4radio:checked ~ #hatoption4 {
    display: block;
}

#optionsfloat {
    position: relative;
    width: 45%;
    height: 70%;
    background-color: bisque;
    box-shadow: 15px 15px 15px #e8899c;
    border-radius: 15px;
    float: right;
    top: 15%;
    right: 3%;
}

.optionsscreen {
    width: 85%;
    height: 80%;
    background-color: crimson;
    border-radius: 15px;
    top: 5%;
    left: 7.5%;
    position: relative;
}

#invisiblebar {
    width: 85%;
    top: 5%;
    height: 10%;
    left: 7.5%;
    position: relative;
}

#optionsbox1 {
    width: 20%;
    height: 100%;
    background-color: #ffb5d9;
    border-radius: 15px 15px 0 0;
    float: left;
}

#optionsbox2 {
    width: 20%;
    height: 100%;
    background-color: #ff87b3;
    border-radius: 15px 15px 0 0;
    float: left;
}

#optionsbox3 {
    width: 20%;
    height: 100%;
    background-color: #ff69a0;
    border-radius: 15px 15px 0 0;
    float: left;
}

#optionsbox4 {
    width: 20%;
    height: 100%;
    background-color: #f7347c;
    border-radius: 15px 15px 0 0;
    float: left;
}

#optionsbox5 {
    width: 20%;
    height: 100%;
    background-color: crimson;
    border-radius: 15px 15px 0 0;
    float: left;
}

#eyesscreen {
    background-color: #ffb5d9;
    border-radius: 0px 0px 15px 15px;
}

#mouthscreen {
    background-color: #ff87b3;
    border-radius: 0px 0px 15px 15px;
}

#hairscreen {
    background-color: #ff69a0;
    border-radius: 0px 0px 15px 15px;
}

#glassesscreen {
    background-color: #f7347c;
    border-radius: 0px 0px 15px 15px;
}

#hatscreen {
    background-color: crimson;
    border-radius: 0px 0px 15px 15px;
}

/* !! FOR SCRIPT & DOCUMENT PAGES !! */

#textfloat {
    position: relative;
    padding: 5%;
    width: 80%;
    height: 70%;
    background-color: bisque;
    box-shadow: 15px 15px 15px #e8899c;
    border-radius: 15px;
    float: left;
    top: 15%;
    left: 5%;
    color: crimson;
    font-family: Playwrite GB S, cursive;
    font-size: 20px;
    line-height: 45px;
}


.clickontabs {
    width: 5%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}