body {
    margin: 0;
    padding: 0;
    background: #9ecf82;
    cursor: url('bee1.png'), default;
    cursor: url('bee1.png'), none;
}

canvas {
    display: block;
}

h1 {
    /* position: absolute; */
    margin-top: 5vh;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    text-align: center;
}

.flower {
    position: absolute;
    width: 15vw;
    height: 15vw;
}

a {
    cursor: url('bee2.png'), pointer;
}

#flower1 {
    margin-top: 5vh;
    margin-left: 5vw;
}
#flower2 {
    margin-top: 30vh;
    margin-left: 10vw;
}
#flower3 {
    margin-top: 60vh;
    margin-left: 10vw;
}
#flower4 {
    margin-top: 10vh;
    margin-left: 45vw;
}
#flower5 {
    margin-top: 30vh;
    margin-left: 35vw;
}
#flower6 {
    margin-top: 55vh;
    margin-left: 45vw;
}
#flower7 {
    margin-top: 20vh;
    margin-left: 75vw;
}
#flower8 {
    margin-top: 40vh;
    margin-left: 65vw;
}
#flower9 {
    margin-top: 70vh;
    margin-left: 65vw;
}

#flower1:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}
#flower2:hover {
    animation: enlarge 2s infinite ease-in-out;
}
#flower3:hover {
    animation: jump 1.5s infinite;
}
#flower4:hover {
    animation: swing 2s infinite ease-in-out;
}
#flower5:hover {
    animation: enlarge 2s infinite ease-in-out;
}
#flower6:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}
#flower7:hover {
    animation: swing 2s infinite ease-in-out;
}
#flower8:hover {
    animation: jump 1.5s infinite;
}
#flower9:hover {
    animation: enlarge 2s infinite ease-in-out;
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}
@keyframes enlarge {
    0% {transform: scale(100%);}
    50% {transform: scale(150%);}
}
@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0);}
}
@keyframes swing {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-20deg);}
    50% {transform: rotate(0deg);}
    75% { transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}