body {
    margin: 0;
    padding: 0;
    background: #9ecf82;
    cursor: url('bee50.webp'), auto;
}

canvas {
    display: block;
}

h1 {
    margin-top: 5%;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    text-align: center;
}

.flower {
    position: absolute;
    width: 15vw;
    height: 15vw;
}

a {
    cursor: url('bee50.webp'), pointer;
}

#flower1 {
    margin-top: 5vh;
    margin-left: 5vw;
}
#flower2 {
    margin-top: 30vh;
    margin-left: 10vw;
}
#flower3 {
    margin-top: 60vh;
    margin-left: 10vw;
}
#flower4 {
    margin-top: 10vh;
    margin-left: 45vw;
}
#flower5 {
    margin-top: 30vh;
    margin-left: 35vw;
}
#flower6 {
    margin-top: 55vh;
    margin-left: 45vw;
}
#flower7 {
    margin-top: 20vh;
    margin-left: 75vw;
}
#flower8 {
    margin-top: 40vh;
    margin-left: 65vw;
}
#flower9 {
    margin-top: 70vh;
    margin-left: 65vw;
}

#flower5:hover {
    animation: swing 2s infinite ease-in-out;
}
@keyframes swing {
0% {transform: rotate(0deg);}
25% {transform: rotate(-20deg);}
50% {transform: rotate(0deg);}
75% { transform: rotate(20deg);}
100% {transform: rotate(0deg);}
}