body {
    margin: 0;
    padding: 0;
    background: #F5F5F4;
}


/* text for all pages */

h1 {
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    color: black;
    letter-spacing: 1.5px;
}
.intro {
    margin: 0 auto;
    letter-spacing: 2px;
}

h3 {
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    color: black;
    letter-spacing: 1.5px;

}

h5 {
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: black;
    letter-spacing: 1.5px;
    text-align: center;
}

p {
    font-family: "Noto Serif", serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: black;
    letter-spacing: 0.75px;
    line-height: 1.75;
}

a {
    text-decoration: none;
    color: green;
}
a:hover {
    color: orangered;
}


/* containers for home page */

#flex {
    /* border: white 1px solid; */
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    /* overflow-y: auto; */
    border: 3px solid lightgrey;
    /* align-items: center; */
    justify-content: center;
}
.homeflex {
    width: 80vw;
    margin: 5vh 10vw;
}

#cases {
    border: white 1px solid;
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    margin: 5vh 10vw;
    /* height: 100px; */
    /* overflow-y: auto; */
    border: 3px solid lightgrey;
    border-radius: 15%;
    /* align-items: center; */
    justify-content: center;
}

.cases {
    top: 10vw;
    left: 7.5vw;
    position: relative;
    width: 85vw;
    height: 25vw;
    border: 3px solid lightgrey;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}


/* containers for design pages */

.designflex {
    width: 60vw;
    margin: 15vh 20vw;
}

#flex img {
    width: 100%;
    border-radius: 7%;
}

#pagebar {
    width: auto;
    height: auto;
    top: 0%;
    position: sticky;
    background: #F5F5F4;
    border: 3px solid lightgrey;
}

#return {
    display: inline-block;
}
#return:hover > p {
    color: orangered;
}

#imgcontainer {
    width: auto;
    border-radius: 25px;
    background: white;
}


/* containers for coding pages */




/* adjusting for mobile viewing */

@media (max-width: 440px) { 
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }
    h5 {
        font-size: 14px;
    }
    #flex {
        width: 80vw;
        margin: 15vh 10vw;
    }
}